{% extends 'RSSReaderBundle::layout.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('bundles/rssreader/js/inputTag.js') }}"></script>
{% endblock %}
{% block title "RSS Reader" %}

{% block content %}
    <span class = "index_message">Hello user, it's my first RSS Reader on Symfony2!</span><br>
    <img src = "{{ asset('bundles/rssreader/images/rss.jpg') }}"/><br>
    <a href="{{ path('about') }}">You can learn more about it</a><br>
    <a href="{{ path('rss_list') }}">RSS Feeds List</a><br>
    <a href="{{ path('tags') }}">Tags List</a><br><br>
    <table class = "blockTable">
        <tbody>
            <tr style="border: none">
                <td class="tagInputWrapper">
                    <input id="tagInput" maxlength="10" type="text" class="tagInput"/>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}