{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        <link href="{{ asset('bundles/rssreader/css/main.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/rssreader/css/jqueryUI.css') }}" rel="stylesheet" />
    {% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/rssreader/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/rssreader/js/jquery.form.js') }}"></script>
    <script src="{{ asset('bundles/rssreader/js/jqueryUI.js') }}"></script>
    <script src="{{ asset('bundles/rssreader/js/main.js') }}"></script>
    {% block javascripts %}

    {% endblock %}
{% endblock %}

{% block title 'Demo Bundle' %}
    {% block body %}
        <img id="loadingGif" style = "width: 50px; height: 50px; position: fixed; top: 10px; right: 10px; display: none" src = "{{ asset('bundles/rssreader/images/loading.gif') }}"/>
        {% if app.user is empty %}
        {% else %}
            Hello <b>{{ app.user.username }}</b>&nbsp;&nbsp;<small><a href="{{ path('logout') }}">(logout)</a></small>
        {% endif %}
        <div class="toTopWrapper">
            <div class="toTopOpacity"></div>
            <div class="toTopPanel" title="Up">
                <div class="toTopBtn">
                    <span class="arrow">↑</span> <span class="label">up</span>
                </div>
            </div>
        </div>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ flashMessage }}
            </div>
        {% endfor %}

        <div class="block">
            {% block content %}{% endblock %}
        </div>

        {% if code is defined %}
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        {% endif %}
    {% endblock %}